.allProjectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.projectContainer {
    width: 40%;
    height: auto;
    display: flex;
    transition: all ease 200ms;
}

.projectContainer:hover {
    transform: scale(1.02);
    cursor: pointer;
    border-bottom: solid;
}

.projectContainerLeft {
    width: 100px;
    height: 100px;
}

.projectContainerRight {
    padding-top: 1em;
}

#lgbtqspace, #plenum, #kko{
    height: 100%;
    padding: 1em;
    width: auto;
    opacity: 0.6;
}

#snorlax {
    height: 6em;
    width: auto;
    margin: 2em 0 2em 0;
}