.text-page { 
    background-color: white;
    padding: 2em;
    width: 100%;
    color: black;
    font-family: "Times New Roman", Times, serif;
}


table {
    border-collapse: collapse;
}

code {
    white-space: pre-line;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid black;
}

img {
    width: 80%; 
    height: auto;
}