.allProjectContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1em;
    margin: 0 10em 0 10em;
}

.projectContainer {
    display: flex;
    transition: all ease 200ms;
}

.projectContainer:hover {
    cursor: pointer;
    border-bottom: solid;
    width: 100%;
}

.projectContainerRight {
    padding: 0em 0em 1em 0;
}

.category {
    background: #008CBA;
    display: inline-block;
    border-radius: 7%;
    padding: 0 5px 0 5px;
    color: #e4e3e3;
    margin-right: 0.5em;
}

img {
    height: 100%;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
    opacity: 0.6;

}

.projectTitle {
    border-bottom: solid;
}