.allProjectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 30em 0 30em;
}

.projectContainer, a {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all ease 200ms;
}

.projectContainer:hover {
    transform: scale(1.02);
    cursor: pointer;
    border-bottom: solid;
    width: 100%;
}

.projectContainerLeft {
    width: 100px;
    height: 100px;
}

.projectContainerRight {
    padding-top: 1em;
}

img {
    height: 100%;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
    opacity: 0.6;

}